@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');

@font-face {
    font-family: Metropolis-bold;
    src: url(./fonts/Metropolis-SemiBold.otf);
}


body {
    font-family: "Poppins", sans-serif;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*
header,
main,
section,
footer {
    border: 1px solid black;
}

*/



/* HEADER SETTINGS */

/* Navigation settings */

nav {
    height: 100px;
    background: #181817;
    text-align: center;
}

.nav-wrapper {
    border: solid 1px red;
    width: 70%;
    margin: 0 auto;
    height: 100%;
}

.nav-logo {
    display: inline-block;
    margin-right: 100px;
    border: none;
    vertical-align: top;
}

.main-menu-wrapper {
    display: inline-block;
    border: none;
}

.nav-main-menu {
    font-size: 14px;
    color: #fefefe;
    font-weight: 400;
    list-style-type: none;
}

.menu-item {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 40px;
    line-height: 100px;
}

.menu-item.last {
    margin-right: 0px;
}

.nav-additional {
    display: inline-block;
    display: none;
}

/* Hero settings */

.pg-hero {
    border: none;
}

.pg-hero-main {
    width: 100%;
    height: 0px;
    padding-top: 55%;
    position: relative;
}

.pg-hero-images {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.pg-hero-images .hero-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.pg-hero-images .hero-image.first {
    background-image: url(../assets/hero-image.png);
}

.pg-hero-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.overlay-row {
    height: 14.28571%;
}

.dark-overlay {
    background: #181817;
    opacity: .6;
}

.white-overlay {
    background: #181817;
    opacity: .2;
}

.dark-overlay.box,
.white-overlay.box {
    height: 100%;
}

.pg-hero-text {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    font-family: "Poppins", sans-serif;
}

.hero-text-wrapper {
    height: 30%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 20px;
    max-width: 70%;
}

.welcome-element {
    float: left;
}

.hero-text-welcome {
    margin-bottom: 30px;
}

.text-welcome-box {
    height: 30px;
    width: 63px;
    vertical-align: top;
    position: relative;
    margin-right: 15px;
}

.text-welcome-box::before {
    content: '';
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    border-bottom: 2.5px solid #fece76;
}

.text-welcome-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    border-top: 2.5px solid #fece76;
}

.text-welcome-para {
    font-size: 25px;
    line-height: 30px;
    color: #ffff;
}

.text-welcome-para .bolder-text {
    font-weight: 600;
    color: #fece76;
}

.hero-text-header {
    font-size: 60px;
    color: #ffff;
    line-height: 70px;
    text-transform: uppercase;
}

.pg-hero-controls {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0 30px 0 30px;
}

.hero-control-button {
    background: rgba(98, 98, 98, .2);
    border-radius: 100%;
    height: 70px;
    width: 70px;
    border: 1px solid rgba(255, 255, 255, .2);
}

.hero-control-button.left {
    float: left;
}

.hero-control-button.right {
    float: right;
}

.control-button-arrow {
    margin: 0 auto;
    opacity: 1;
    height: 16px; 
    width: 16px;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center;
    border-left: solid 3px white;
    border-bottom: solid 3px white;
}




/* PROS SETTINGS */

.pg-main-pros {
    background: #181817;
    border: none;
    padding-top: 50px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    letter-spacing: 4px;
    padding-bottom: 100px;
}

.pros-header {
    font-size: 40px;
    color: #ffce76;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 10px;
}

.pros-header-underscore {
    width: 30%;
    margin: 0 auto;
}

.pros-header-underscore hr,
.header-underscore-star {
    float: left;
}

.pros-header-underscore hr {
    width: 46%;
    margin: 5px 0;
    background: #181817;
    border-top: 1px solid rgba(255, 255, 255, .3);
}

.header-underscore-star {
    width: 8%;
    position: relative;
    height: 10px;
}

.header-underscore-star::after {
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: rotate(45deg);
    background: #ffce76;
}

.pros-list {
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    position: relative;
}

.pros-product-image {
    max-width: 35%;
    margin: 0 auto;
    text-align: center;
}

.pros-product-image img {
    max-width: 100%;
    height: auto;
    position: relative;
    bottom: 30px;

}

.pros-list-description {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.description-group {
    height: 100%;
    width: 32.5%;
}

.description-group.first {
    float: left;
}

.description-group.second {
    float: right;
}

.description-element {
    height: 50%;
    color: white;
    width: 100%;
    position: relative;
}

.description-element-icon {
    width: 20%;
    position: absolute;
    top: 0;
    text-align: center;
}

.description-element-icon.design,
.description-element-icon.quality {
    right: 0;
}

.description-element-icon.prices,
.description-element-icon.support {
    left: 0;
}

.description-element-icon img {
    max-width: 100%;
}

.description-element-text {
    position: absolute;
    top: 0;
    width: 80%;
}

.description-element-text.design,
.description-element-text.quality {
    left: 0;
    text-align: right;
}

.description-element-text.prices,
.description-element-text.support {
    right: 0;
    text-align: left;
}

.description-element-text h2 {
    text-transform: uppercase;
    color: #ffce76;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 25px;
}

.description-element-text p {
    padding-top: 20px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: .14px;
    line-height: 21px;
}

.description-element-text.design,
.description-element-text.quality {
    padding-left: 10%;
    padding-right: 15px;
}

.description-element-text.prices,
.description-element-text.support {
    padding-right: 10%;
    padding-left: 15px;
}

/* above 1700px */ 

@media only screen and (min-width: 1700px) {
    
    .description-group.first {
        position: relative;
        right: -3%;
    }

    .description-group.second {
        position: relative;
        left: -3%;
    }
}


/* under 1401px */



/* SHOWCASE SETTINGS */

.pg-main-showcase {
    width: 100%;
    height: 670px;
    border: solid 1px b lack;
    position: relative;
}

.showcase-element {
    border: solid 1px red;
    float: left;
}

.showcase-element.main {
    width: 20%;
    height: 100%;
}

.showcase-element.small {
    width: 20%;
    height: 50%;
}

.showcase-element.medium {
    width: 60%;
    height: 50%;
}


/* Showcase figcaption settings */

.showcase-element-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 5%;
}

.showcase-element-text.center {
    padding-left: 0;
    text-align: center;
}



/* COLLECTION SETTINGS */

.pg-main-collection {
    height: 1210px;
    border: none;
}

/* STAFF SETTINGS */

.pg-main-staff {
    height: 980px;
}

/* PROJECTS SETTINGS */

.pg-main-projects {
    height: 1220px;
}

/* BLOG SETTINGS */

.pg-main-blog {
    height: 800px;
}

/* FOOTER SETTINGS */

footer {
    height: 440px;
}

