@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

@font-face {
    font-family: Metropolis-bold;
    src: url(./fonts/Metropolis-SemiBold.otf);
}


body {
    font-family: "Poppins", sans-serif;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

header,
main,
section,
footer {
    border: 1px solid black;
}



/* HEADER SETTINGS */

/* Navigation settings */

nav {
    height: 100px;
    background: #181817;
    text-align: center;
}

.nav-wrapper {
    border: solid 1px red;
    width: 70%;
    margin: 0 auto;
    height: 100%;
}

.nav-logo {
    display: inline-block;
    margin-right: 100px;
    border: none;
    vertical-align: top;
}

.main-menu-wrapper {
    display: inline-block;
    border: none;
}

.nav-main-menu {
    font-size: 14px;
    color: #fefefe;
    font-weight: 400;
    list-style-type: none;
}

.menu-item {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 40px;
    line-height: 100px;
}

.menu-item.last {
    margin-right: 0px;
}

.nav-additional {
    display: inline-block;
    display: none;
}

/* Hero settings */

.pg-hero {
    border: none;
}

.pg-hero-main {
    width: 100%;
    height: 0px;
    padding-top: 55%;
    position: relative;
}

.pg-hero-images {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.pg-hero-images .hero-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.pg-hero-images .hero-image.first {
    background-image: url(../assets/hero-image.png);
}

.pg-hero-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.overlay-row {
    height: 14.28571%;
}

.dark-overlay {
    background: #181817;
    opacity: .6;
}

.white-overlay {
    background: #181817;
    opacity: .2;
}

.dark-overlay.box,
.white-overlay.box {
    height: 100%;
}

.pg-hero-text {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    font-family: "Poppins", sans-serif;
}

.hero-text-wrapper {
    height: 30%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 20px;
    max-width: 70%;
}

.welcome-element {
    float: left;
}

.hero-text-welcome {
    margin-bottom: 30px;
}

.text-welcome-box {
    height: 30px;
    width: 63px;
    vertical-align: top;
    position: relative;
    margin-right: 15px;
}

.text-welcome-box::before {
    content: '';
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    border-bottom: 2.5px solid #fece76;
}

.text-welcome-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    border-top: 2.5px solid #fece76;
}

.text-welcome-para {
    font-size: 25px;
    line-height: 30px;
    color: #ffff;
}

.text-welcome-para .bolder-text {
    font-weight: 600;
    color: #fece76;
}

.hero-text-header {
    font-size: 60px;
    color: #ffff;
    line-height: 70px;
    text-transform: uppercase;
}

.pg-hero-controls {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0 30px 0 30px;
}

.hero-control-button {
    background: #626262;
    opacity: .20;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.hero-control-button.left {
    float: left;
}

.hero-control-button.right {
    float: right;
}

.control-button-arrow {
    margin: 0 auto;
    background: white;
    opacity: 1;
    height: 20px; 
    width: 20px;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
}





/* PROS SETTINGS */

.pg-main-pros {
    height: 750px;
}

/* SHOWCASE SETTINGS */

.pg-main-showcase {
    height: 670px;
}

/* COLLECTION SETTINGS */

.pg-main-collection {
    height: 1210px;
}

/* STAFF SETTINGS */

.pg-main-staff {
    height: 980px;
}

/* PROJECTS SETTINGS */

.pg-main-projects {
    height: 1220px;
}

/* BLOG SETTINGS */

.pg-main-blog {
    height: 800px;
}

/* FOOTER SETTINGS */

footer {
    height: 440px;
}

